extends ./layout.jade

block content
	#container
		h2 Simon Game
		#only-div
			#only-div-inside
				#blue.box
				#red.box
				#green.box
				#yellow.box
		#buttons			
			button#start Start
			p#lvl Level 1
		p#steps
